# Ignore local environment cache blocks
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Ignore local git histories
.git
.gitignore

# Ignore local system/IDE layouts
.DS_Store
.idea/
.vscode/

# DO NOT ignore app.py, templates, requirements.txt, or init.sql!
